body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  nav {
    position: fixed;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    z-index: 1000;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  #inicio {
    background: #1c1c1e;
  }
  .inicio-section {
    background-color: #2e2e2e;
    color: rgb(99, 67, 67);
    display: flex;
    padding: 0;
  }  
  .texto-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 70%;
  }
  .luislaurente {
    display: flex;
    font-size: 120px;
    line-height: 0.8;
    color: #f3f2f7;
  }
  .container-name-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .container-name-icon img{
    width: 15rem;
    margin-right: 20px;
  }
  #sobre {
    background: #ddd;
  }
  #proyectos {
    background: #bbb;
  }
  #experiencia {
    background: #999;
  }
  #contacto {
    background: #777;
    color: white;
  }
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #293036bf;
    padding: 20px;
    width: 45rem;
    border-radius: 25px;
  }
  .containet-navbar {
    display: flex;
    justify-content: center; /*centra el contenido verticalmente*/
  }


  @media (max-width: 700px) {
    .navbar {
      display: flex;
      justify-content: space-around;
      background-color: #2d373fbf;
      padding: 10px;
      margin-top: 15px;
      width: 22rem;
      border-radius: 25px; /* Opcional: elimina el borde redondeado en móviles */
    }
    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-size: 12px;
    }
    .texto-inicio {
      display: flex;
      flex-direction: column;
      color: rgb(197, 174, 41);
    }
    .luislaurente {
      font-size: 20px;
      color: rgb(197, 174, 41)
    }
  }